[submodule "src/json"]
	path = src/json
	url = https://github.com/nlohmann/json
[submodule "src/fmt"]
	path = src/fmt
	url = https://github.com/fmtlib/fmt
[submodule "src/libzmq"]
	path = src/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "utf"]
	path = utf
	url = https://github.com/byte-physics/igor-unit-testing-framework
[submodule "src/cmake/CreateLaunchers"]
	path = src/cmake/CreateLaunchers
	url = https://github.com/caseymcc/CreateLaunchers.git
